<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../static/index.css">
  <link rel="stylesheet" href="../static/main.css">
  <link rel="stylesheet" href="../static/atm.css">
  <title>Wheather</title>
  <script src="/lib/browser-request.js"></script>
  <!-- <script defer src="../src/getWheather.js"></script> -->
  <script defer src="../src/api.js"></script>
  <script defer src="../src/geolocation.js"></script>
</head>

<body>
  <aside id="aside">
    <div class="search">
      <button id="search">Search For Places</button>
      <button id="location"><img src="../assets/location.svg"></button>
    </div>
    <div class="current_wheather"></div>
  </aside>
  <main>
    <div class="degrees">
      <button class="btn" id="celcius">ºC</button>
      <button class="btn" id="fahr">ºF</button>
    </div>
    <section id="days">
    </section>
    <h2>Today's Highlights</h2>
    <section id="atm">
    </section>
  </main>
</body>

</html>
