<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../static/index.css">
  <link rel="stylesheet" href="../static/main.css">
  <title>Wheather</title>
  <script src="/lib/browser-request.js"></script>
  <script defer src="../promise.js"></script>
</head>

<body>
  <aside>
    <div class="search">
      <button id="search">Search For Places</button>
      <button id="location"><img src="../assets/location.svg"></button>
    </div>
  </aside>
  <main>
    <div class="degrees">
      <button class="btn">ºC</button>
      <button class="btn">ºF</button>
    </div>
    <section id="days">

    </section>
  </main>
</body>

</html>
