<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/responsive.css">
    <title>Wheather</title>
</head>
<body>
    <aside>
        <nav>
            <button>Search For Places</button>
            <button><img src="../assets/location.svg"></button>
        </nav>
    </aside>
    <main>
        <nav>
            <button class="btn">ºC</button>
            <button class="btn">ºF</button>
        </nav>
    </main>
</body>
</html>